html,body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,p {

    font-weight: lighter;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}

section {
    height: 100vh;
    width:  100%;
}

.left {
    width: 50%;
    float: left;
    text-align: right;
    padding: 20px;
}

.right {
    width: 50%;
    float: right;
    text-align: left;
    padding: 20px;
}

#slogan {
    margin-left: 20%;
}

#logo {
    width: 80%;
    padding-top: 80%;
    text-align: center;
    position: relative;
}

#logo #speaker {
    width: 70%;
    position: absolute;
    top: 25%;
    left: 15%;
}

#logo #beat {
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    border: 5px solid white;
    border-radius: 50%;
}

@media (max-width: 1050px) {
    .left {
        width: 100%;
        height: auto;
        text-align: left;
    }

    .right {
        width: 100%;
        height: auto;
        text-align: left;
    }

    #slogan {
        margin-left: 0px;
        text-align: left;
    }
}

@media (max-width: 650px) {
    #logo {
        display: none;
    }
}

#main {
    color: #FFFFFF;
    background-color: #4baefb;

    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
}

#pitch {

}
